<form accept-charset="UTF-8" action="{{ form.action }}" method="post">{% csrf_token %}
  <div>Current account type: <b>{{ account_info.account_type }}</b></div>
  {% if account_info.started_at %}
    <div>Started at: <b>{{ account_info.started_at }}</b></div>
  {% endif %}
  {% if account_info.duration %}
    <div>Duration: <b>{{ account_info.duration }} days</b></div>
  {% endif %}
  {% if account_info.end_date %}
    <div>Expires at: <b>{{ account_info.end_date }}</b></div>
  {% endif %}
  <fieldset>
    <legend></legend>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
  <div class="btn-group-vertical" role="group">
    {% if show_community_request %}
      <button href="#" id="myCustomTrigger" class="btn btn-primary">Request Community Account upgrade</button>

    {% endif %}

    {% if show_trial_request %}
      <button type="submit" class="btn btn-default">Request Trial Account upgrade</button>
    {% endif %}
  </div>
</form>

<script type="text/javascript" src="https://jira.fiware.org/s/4d99dfea096a41baa8a46feda6f85823-T/en_GBek2res/6346/29/1.4.16/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-GB&amp;collectorId=a188b867"></script>
<script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
  "triggerFunction": function(showCollectorDialog) {
    //Requires that jQuery is available! 
    jQuery("#myCustomTrigger").click(function(e) {
      e.preventDefault();
      showCollectorDialog();
    });
  }};
</script>