{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% endblock %}

{% block page_header %}
{% endblock page_header %}

{% block main %}
<div class="panel-group settings" id="accordion">

 {% for form in forms %}
    <div class="panel panel-default {% if forloop.last %}cancel_account{% endif %}">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ forloop.counter0 }}" class="panel-heading collapsed">
        <h4 class="panel-title panel-close">
          {{ form.description }}
        </h4>
      </a>
      <div id="collapse-{{ forloop.counter0 }}" class="panel-collapse collapse">
        <div class="panel-body">
          {% include form.template %}
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}